{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %}</title>

    <!--  bootstrap   -->
    <link rel="stylesheet" href=" {% static 'bootstrap/css/bootstrap.min.css' %}">
    <!--    css   -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header class="header sticky-top">
        <div class="header-container d-flex">
            <navbar class="header-nav pt-4">
                <ul class= "header-list d-flex">
                    <li>
                        <a href="/" class="nav-a m-3">Home</a>
                    </li>
                    <li>
                        <a href="/shop" class="nav-a m-3">Shop</a>
                    </li>
                </ul>
            </navbar>
            <div class="header-logo">
                <a href="/"><img src="{% static 'img/logo.png' %}" alt="" class="heavy-logo"></a>
            </div>
            <div class="header-profile pt-2">
                <a href="{% url 'cart:cart_detail'%}"><img src="{% static 'img/corth.png' %}" class="corth" alt=""></a>
                <a href="{% url "users:login" %}" class="m-2">LOGIN</a>
                <p class="cart-quantity">
                    {% with cart_quantity=cart|length %}
                        {% if cart_quantity > 0 %}
                            {{ cart_quantity }}
                        {% else %}
                            0
                        {% endif %}
                    {% endwith %}
                </p>
            </div>
        </div>
    </header>
    <div class="container">
    {% block content %}
    {% endblock content %}
    </div>

    <footer class="footer">
        <div style="display: flex; align-items: center;">
            <h2 style="color: #FFFFFF; font-size: 38px; font-weight: 500;">STRONGER STARTS HERE</h2>
            <div class="social-icons">
                <div class="social-icon"><img src="{% static 'img/instagram.png' %}" class="corth" href="#" alt=""></div>
                <div class="social-icon"><img src="{% static 'img/facebook.png' %}" class="corth" href="#" alt=""></div>
                <div class="social-icon"><img src="{% static 'img/x.png' %}" class="corth" href="#" alt=""></div>
                <div class="social-icon"><img src="{% static 'img/youtube.png' %}" class="corth" href="#" alt=""></div>
            </div>
        </div>

        <div style="display: flex; gap: 24px; margin-top: 40px;">
            <a href="#" class="footer-link" style="width: 124px;">Find a Gym</a>
            <a href="#" class="footer-link" style="width: 57px;">Shop</a>
            <a href="#" class="footer-link" style="width: 113px;">Calculator</a>
        </div>

        <div class="footer-divider"></div>

        <div class="footer-links">
            <a href="#" class="footer-link" style="width: 220px;">own a gold's gym franchise</a>
            <a href="#" class="footer-link" style="width: 83px;">careers</a>
            <a href="#" class="footer-link" style="width: 222px;">diversity, equity & inclusion</a>
            <a href="#" class="footer-link" style="width: 118px;">Privacy Notice</a>
            <a href="#" class="footer-link" style="width: 166px;">State Privacy Notice</a>
            <a href="#" class="footer-link" style="width: 159px;">Terms & Conditions</a>
        </div>

        <p class="footer-copyright">© 2024 GOLD'S GYM – ALL RIGHTS RESERVED</p>
    </footer>



    <!--  js bootstrap  -->
    <script> src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"</script>
</body>
</html>