@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root{
    --box-shadow: 0px 1px 1px rgba 0, 0, 0, 0.364;
}

@font-face {
    font-family: "Boldonse Regular";
    src: url(../font/Boldonse-Regular.ttf);
}

span {
    font-family: "Boldonse Regular";
    font-size: 48px ;
    line-height: 0;
}

body {
    font-family: "Anton", serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

h1 {
    font-size: 48px;
}

h2{
    font-size: 48px;
    font-weight: 600;
}

h3 {
    font-size: 36px;
}

h5 {
    font-size: 18px;
    margin: 0;
    font-weight: 600;
}

.header-container{
    box-sizing: border-box;
    max-width: 1400px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
}

.container{
    box-sizing: border-box;
    max-width: 1600px;
    margin: 0 auto;
}

.header {
    height: 80px;
    background-color: #f4f1ec ;
    box-shadow: var(--box-shadow);
}

.header-list{
    text-transform: uppercase;
}

.heavy-logo {
    position: fixed;
    top: 0.5%;
    left: 44.5%;
    width: 70px;
    height: 70px;
}

.home{
    align-items: center;
}

.home-title{
    margin-top: 210px;
    margin-bottom: 50px;
}

.home-card {
    width: 200px;
    height: 325px;
    border: 1px solid #00000027;
    border-radius: 5px;
    transition: all 0.5s ease;
    background-color: #f4f1ec;
}

.home-card :hover {
    border: 1px solid #000;
}

.title-card {
    max-width: 185px;
    margin-top: 20px;
    min-height: 70px;
}

.card-img {
    width: 195px;
    height: 195px;
}

.price {
    font-size: 20px;
    font-weight: 700;
    margin-top: -10px;
}

.home-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 50px;
    border: 1px solid #00000027;
    border-radius: 5px;
    z-index: 2;
}

.home-btn:hover {
    border: 1px solid #000;
}

.detail-image{
    width: 650px;
    height: 650px;
}

.detail-product{
    margin-top: 80px;
}

.detail-description{
    margin-left: 40px;
    margin-top: 40px;
}

.detail-description p {
    margin-top: 30px;
    max-width: 700px;
}

.detail-description h2 span{
    font-size: 56px;
}

.card-discount {
    margin-top: -10px;
    font-weight: 600;
}

.card-discount .price {
    margin-top: -1px;
}

.line {
    opacity: 0.7;
    text-decoration: line-through ;
    font-weight: 300;
}

.card-btn {
    width: 180px;
    height: 50px;
    border: 1px solid #00000027;
    border-radius: 5px;
    transition: all 0.4s ease;
    margin-top: 20px;
}

.card-btn:hover {
    border: 1px solid #000;
}

.main {
    margin-left: 150px;
}

.main-title {
    font-size: 36px;
    margin-bottom: 10px;
    margin-top: 65px;
}

.items {
    display: grid;
    grid-template-columns: repeat(auto-fill, 225px);
    width: 100%;
    max-width: 1300px;
    justify-content: center;
    justify-items: center;
    column-gap: 0px;
    row-gap: 10px;
    margin: 0 auto;
}

.sidebar {
    margin-top: 70px;
}

.llist {
    margin-left: -80px;
}

.sidebar ul li {
    font-size: 20px;
    width: 165px;
    height: 35px;
    margin-bottom: 5px;
}

.sidebar ul li a {
    margin-left: 15px;
    width: 165px;
}

.sidebar ul {
    margin-top: 20px;
}

.selected {
    border: 1px solid #0000;
    border-radius: 5px;
}

.pagination {
    display: flex;
    position: absolute;
    bottom: 0%;
    left: 46%;
    gap: 12px;
    justify-content: center;
}

.disabled {
    opacity: 0.2;
}

.corth {
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

.cart-quantity {
    position: absolute;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    font-size: 13px;
    border: 1px solid  #000000;
    text-align: center;
    margin-left: 35px;
    margin-top: -40px;
}

.cart {
    flex-direction: column;
}

.cart-title {
    margin-top: 60px;
    margin-bottom: 30px;
}

.cart-cards {
    max-height: 40vh;
    width: 600px;
    overflow-y: auto;
}

.cart-cardsrem {
    max-height: 52vh;
    width: 600px;
    overflow-y: auto;
}

.cart-card {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    width: 570px;
    height: 150px;
    border: 1px solid  #00000042;
    border-radius: 10px;
    margin-bottom: 10px;
}

.cart-card-img img {
    width: 125px;
    height: 125px;
    border: 1px solid #00000086;
}

.cart-card-name {
    width: 180px;
}

.remove-btn {
    background-color: #fff;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    border: 1px solid  #00000042;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.5s ease;
}

.remove-btn:hover {
    border: 1px solid #0000
}

.cart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    border: 1px solid  #00000042;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.5s ease;
}

.cart-btn:hover {
    border: 1px solid #0000
}

.cart-price {
    font-size: 16px;
}

.opac {
    opacity: 0.5;
    margin: 0;
}

.cart-total-price-ots {
    font-size: 18px;
    margin-bottom: 25px;
}

.cart-total-price {
    margin: 0;
}

.total {
    margin: 50px 0 25px 0;
}

.cart-form {
    margin-top: 25px;
}

.add-to-cart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 50px;
    border: 1px solid  #00000042;
    border-radius: 5px;
    margin: 0;
    transition: all 0.5s ease;
    background-color: #ffff;
    margin-top: 25px;
}

.add-to-cart-btn:hover {
    border: 1px solid  #000000;
}

.shop-section {
    max-width: 1440px;
    margin: 198px auto 0; /* Отступ сверху 198px */
    padding: 0 80px; /* Такие же отступы по бокам как в about-container */
}

.shop-title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 60px;
    text-align: center;
    color: #000000;
}

/* Контейнер для карточек */
.shop-cards-home {
    display: flex;
    flex-direction: row; /* Явное указание горизонтального направления */
    gap: 31px;
    align-items: stretch; /* Растягивание карточек по высоте */
    width: 100%; /* Занимает всю доступную ширину */
    margin: 0; /* Сброс отступов */
    padding: 0; /* Сброс внутренних отступов */
}

/* Общие стили для карточек */
.shop-card-apparel,
.shop-card-nutrition {
    width: calc(50% - 15.5px);
    background: #FFFFFF;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Вертикальное расположение содержимого */
    position: relative; /* Для позиционирования кнопки */
    min-height: 100%; /* Чтобы карточки были одинаковой высоты */
}


/* Изображения в карточках */
.shop-image-apparel,
.shop-image-nutrition {
    width: 100%;
    height: 405px;
}

.shop-image-apparel img,
.shop-image-nutrition img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Заголовки карточек */
.shop-title-apparel,
.shop-title-nutrition {
    font-size: 37px;
    font-weight: 700;
    margin: 32px 0 8px;
    padding: 0 24px;
    color: #000000;
}

/* Текст карточек */
.shop-text-apparel,
.shop-text-nutrition {
    font-size: 24px;
    line-height: 36px;
    color: #454545;
    padding: 0 24px;
    margin-bottom: 24px;
}

/* Кнопки */
.shop-btn-apparel,
.shop-btn-nutrition {
    display: inline-block;
    background: #F8D448;
    color: #000000;
    padding: 14px 24px;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s ease;
    align-self: flex-end; /* Выравнивание по правому краю */
    margin-top: auto; /* Прижимает кнопку к низу */
    margin-right: 24px;
    margin-bottom: 32px;
}

.shop-btn-apparel:hover,
.shop-btn-nutrition:hover {
    background-color: #e6c540;
}

.black-bar-up {
    position: relative;
    width: 100vw;
    height: 100px;
    overflow: hidden;
    margin-left: calc(-50vw + 50%);
    background-color: #191616;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.black-bar-down {
    position: relative;
    width: 100vw;
    height: 100px;
    overflow: hidden;
    margin-left: calc(-50vw + 50%);
    background-color: #191616;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.franchise-btn {
    position: absolute;
    bottom: 25px;
    right: 95px;
    background: #F8D448;
    padding: 14px 24px;
    border-radius: 8px;
    color: #1A191C;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.franchise-title {
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 100px;
    padding: 30px 30px;
    letter-spacing: 1px;
}

.franchise-banner {
    position: relative;
    height: 550px;
    width: 100vw;
    overflow: hidden;
    margin-left: calc(-50vw + 50%);
}

.franchise-text {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    margin: 0 100px;
    padding: 35px 30px;
    letter-spacing: 1px;
}

.trial-section {
    position: relative;
    width: 100vw;
    height: 110px;
    overflow: hidden;
    margin-left: calc(-50vw + 50%);
    background-color: #F8D448;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.trial-title {
    color: #191616;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 100px;
    padding: 40px 30px;
    letter-spacing: 1px;
}

.trial-btn {
    position: absolute;
    bottom: 25px;
    right: 95px;
    background: #1A191C;
    padding: 14px 24px;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.footer {
    height: 423px;
    left: 0px;
    right: 0px;
    background: #191616;
    padding: 80px;
    width: 100%;
    margin-top: auto;
}

.footer-divider {
    border: 1px solid #E6E6E6;
    margin: 20px 0;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 40px;
}

.footer-link {
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
}

.footer-copyright {
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 500;
}

.social-icons {
    display: flex;
    gap: 8px;
    position: absolute;
    right: 8px;
    top: 50px;
}

.social-icon {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

